.password-card-list-container {
  width: 900px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}