<mat-card>
  <div class="name"><b>{{ passwordCard.name }}</b></div>
  <div class="url">{{ passwordCard.url }}</div>
  <div mat-dialog-actions align="end">
    <button mat-mini-fab color="basic" aria-label="Copy password to clipboard"
      (click)="copyToClipboard()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-mini-fab color="primary" aria-label="Update password card information"
      (click)="openUpdatePasswordCardFormDialog(passwordCard)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab color="warn" aria-label="Delete password card information"
      (click)="openDeletePasswordCardDialog(passwordCard)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
